<!-- <div class="main-container">
  <div class="side-navigation">
    <grab-organization></grab-organization>
    <button (click)="logout()">Logout</button>
  </div>
  <div class="main-content">
      <create-organization></create-organization>
  </div>
</div> -->
<div>
  <div class="full-height">
    <div class="sideNav">
      <grab-organization></grab-organization>
      <button (click)="logout()">Logout</button>
    </div>
    <div class="main-content">
        <create-organization></create-organization>
        <!-- <create-team></create-team> -->
    </div>
  </div> 
</div>
