<div *ngIf="showAddMemberToTeam" class="AddMemberToTeamComponent">
  <add-member-to-team></add-member-to-team>
</div>

<div *ngIf="activeTeam">
  <button (click)="showAddMemberToTeamComponent()">Add Member to Team</button>
  <div>{{activeTeam.name}}</div>

  <div>{{activeTeam.description}}</div>

  <div *ngIf="membersInActiveTeam">
    <h4>Members:</h4>
    <div *ngFor="let member of membersInActiveTeam">
      <p>{{member.firstname}}</p>
      <p>{{member.lastname}}</p>
    </div>
  </div>
</div>